.container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.form-area {
  background-color: rgb(192, 226, 255);
  width: 87%;
  margin-bottom: 50px;
  position: relative;
}

.button-save-1 {
  width: 250px;
  position: absolute;
  bottom: 19%;
  left: 101%;
}

.button-delete {
  width: 250px;
  position: absolute;
  bottom: 0;
  left: 101%;
}

.button-save-2 {
  width: 250px;
  position: absolute;
  bottom: 0;
  left: 101%;
}

.button-save-1 input, .button-save-2 input, .button-delete input {
  width: 45%;
}